wsdl/MultivasIsMigrated_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema elementFormDefault="qualified" targetNamespace="http://telefonica.com/globalIntegration/services/MultivasIsMigrated/v1" xmlns:p1="http://telefonica.com/globalIntegration/services/MultivasIsMigrated/v1" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<annotation>
		<documentation>MultivasIsMigrated -  (type definition)- Generated by TER - 2019.08.16 22:14:20 - DO NOT CHANGE - NO MODIFICAR A MANO </documentation>
	</annotation>

	<xsd:element name="isMigratedRequest" type="p1:isMigratedRequestType"/>
	<xsd:element name="isMigratedResponse" type="p1:isMigratedResponseType"/>

	<xsd:complexType name="isMigratedRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				This is the input interface of 'isMigrated' operation. The first level fields are:
					- snb: Structure of valueIntegerListIntegerValueType multivas
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="snb" type="p1:valueIntegerListIntegerValueType" minOccurs="1" maxOccurs="1" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="isMigratedResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				This is the output interface of 'isMigrated' operation. The first level fields are:
					- respuesta: Synonym of token altamira (similar concept that SID attribute defined by 'p1:commonNameRootEntityType')
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="respuesta" type="p1:valueBooleanListBooleanValueType" minOccurs="1" maxOccurs="1" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="valueIntegerListIntegerValueType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				This attribute is an array of strings, defined as an unordered list, where each integer in the list is represented by a string. This is done to accommodate the reserved words 'INFINITY' and '-INFINITY'. The format of this attribute takes one of the following two forms:

 - a single integer value
 - a range of integers. The range is specified by a starting
 integer and an ending integer, separated by '..'. The
 starting integer must be less than or equal to the ending
 integer. The range includes all integers between the
 starting and ending integers, including these two integers.

To represent a range of integers that is not bounded, the reserved words '-INFINITY' and/or 'INFINITY' can be used in place of the starting and ending integers.

				SID Definition: Common Business Entities Domain::Policy ABE::Policy Structure ABE::Policy Value ABE::IntegerValue::valueIntegerList
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	
	<xsd:simpleType name="valueBooleanListBooleanValueType">
		<xsd:annotation>
			<xsd:documentation xml:lang="EN">
				This is a Boolean attribute, whose value is used to represent a Boolean policy value.

				SID Definition: Common Business Entities Domain::Policy ABE::Policy Structure ABE::Policy Value ABE::BooleanValue::valueBooleanList
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	
</schema>